[$Version]
update_info=kwin.upd:replace-scalein-with-scale,kwin.upd:port-minimizeanimation-effect-to-js,kwin.upd:port-scale-effect-to-js,kwin.upd:port-dimscreen-effect-to-js,kwin.upd:auto-bordersize,kwin.upd:animation-speed

[Compositing]
OpenGLIsUnsafe=false

[Desktops]
Id_1=7f91f6e3-2733-4938-8721-957df2d769ae
Id_2=be9529d6-f166-4890-9284-073fc1e17213
Id_3=fdeb20f3-b204-498d-8552-7e3fa4ae4cc8
Id_4=3a49ea59-7ef9-4ad4-9413-23ed30f7af06
Name_1=Nuevo escritorio
Name_2=Nuevo escritorio
Name_3=Nuevo escritorio
Name_4=Nuevo escritorio
Number=4
Rows=1

[Plugins]
desktopchangeosdEnabled=false

[Script-desktopchangeosd]
PopupHideDelay=1000
TextOnly=false

[SubSession: ece73232-8a71-4f02-97e7-458a2b1439e0]
active=-1
count=0

[Windows]
RollOverDesktops=true
