[global_config]
  dbus = False
  enabled_plugins = InactivityWatch, ActivityWatch, LaunchpadBugURLHandler
  suppress_multiple_term_dialog = True
  tab_position = bottom
  title_receive_fg_color = "#000000"
  title_transmit_bg_color = "#0041c8"
  title_transmit_fg_color = "#000000"
[keybindings]
  layout_launcher = <Primary>ccedilla
  move_tab_left = <Shift><Alt>Left
  move_tab_right = <Shift><Alt>Right
  next_tab = <Shift>Right
  prev_tab = <Shift>Left
[plugins]
[profiles]
  [[default]]
    background_color = "#232323"
    copy_on_selection = True
    cursor_color = "#ffffff"
    font = Hack 14
    foreground_color = "#ffffff"
    scrollback_infinite = True
    use_system_font = False
